In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("covid_dataset.csv")
df

,Unnamed: 0,id,text,politics,economy,foreign,culture,situation,measures,racism,overall
0,0,1235951163427688448,"""Every time we intubate a patient, we have no ...",0,0,0,0,0,3,0,3
1,1,1220784346983911424,"""In 2003, we built Xiaotangshan Hospital in 7 ...",0,0,0,0,0,3,0,3
2,2,1224530700965015552,"""Our nations should never allow China intrinsi...",0,0,0,0,0,0,0,1
3,3,1236593587908947968,"""He's not dead. His hands and feet were still ...",0,0,0,0,1,0,0,1
4,4,1230198133893799936,"""....disregarding the facts and becoming a par...",0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
5296,5296,1224146420476862464,ğŸš¨BREAKING: first human transmission of #corona...,0,0,0,0,0,0,0,2
5297,5297,1230246340514287616,ğŸš¨WOW: &gt;760 million people in #Chinaâ€”equalin...,0,0,0,0,0,0,0,2
5298,5298,1234288304641708032,ğŸ¤”Could the #coronavirus turn back global warmi...,0,0,0,0,0,0,0,2
5299,5299,1234853595276812288,ğŸš¨SOONğŸš¨\n\nSen. Rubio is joining @MariaBartirom...,0,0,0,0,0,0,0,2
5300,5300,1231898463752736768,ğŸ¦ This weekâ€™s coronavirus update\n\nVIRUS STIL...,0,0,1,0,1,0,0,1

In [16]:
df_ = pd.read_csv("data_with_status_id_without_text.csv")

In [17]:
df_.rename(columns = {"status_id":"id"}, inplace=True)
df_.head()

,id,politics,economy,foreign,culture,situation,measures,racism,overall
0,1229076297340506112,0,0,0,0,0,0,0,0
1,1225885089583812608,0,0,0,0,0,0,0,1
2,1228087880699895808,0,0,0,0,1,0,0,1
3,1230198133893799936,0,0,0,0,0,0,0,2
4,1234022533739024384,0,0,0,0,0,2,0,2

In [18]:
df_.to_csv(r'./ids.txt', header=None, index=None, sep='\t', mode='a')

In [21]:
df = pd.read_csv("./ids.txt")

In [22]:
df.columns

Index(['1229076297340506112'], dtype='object')

In [42]:
df_ = df[["id", "text"]].merge(df_, on="id")
df_.to_csv("./covid.txt")

In [14]:
df = df.text

0       "Every time we intubate a patient, we have no ...
1       "In 2003, we built Xiaotangshan Hospital in 7 ...
2       "Our nations should never allow China intrinsi...
3       "He's not dead. His hands and feet were still ...
4       "....disregarding the facts and becoming a par...
5       "Angolan Government seized properties held by ...
6       "Huawei is proven to have been cooperating wit...
7       "Mr. Xie claims that China responded to the co...
8       "I am so excited and nervous to see you guys s...
9       "It is becoming increasingly clear that restar...
10      "Texas Student May Have Wuhan Coronavirus, as ...
11      "In Hubei province, where the outbreak began, ...
12      "Coronavirus outbreak can go in any direction,...
13      "Some well-known universities have been caught...
14      "Across the board, everyoneâ€™s crime seemed to ...
15      "Save my life, doctor!" Videos show how the co...
16      "Researchers have given a low estimate of 20,0...
17      "@Austynzogs: @Gidi_Traffic China is disinfect...
18      "The real push [against] hydroxychloroquine is...
19      "The #UAE has reported four #coronavirus cases...
20      "All the doors are barricaded...All the houses...
21      "It was too late. Outbreaks were already growi...
22      "Pandemic: China" was such a blockbuster, the ...
23      "I'm not a virus. I'm a human. Eradicate the p...
24      "I gave my overseas friends all the passwords ...
25      "The case is in a male who's in his 50s, he ha...
26      "Japan and the US must work closely together t...
27      "Chinese government... has taken serious, vigo...
28      "Major airlines have suspended flights to &amp...
29      "Chinese mother granted emergency visa to visi...
                              ...
5271    ğŸ“£ BLOG UPDATE: Wuhan novel coronavirus: what y...
5272    âš ï¸Breakingâš ï¸\n\n#Coronavirus death toll passes...
5273    ğŸ‡®ğŸ‡© Indonesians repatriated from China arrive h...
5274    ğŸ”´ LIVE STREAM at 2pm ET on our front page: htt...
5275    ğŸ“Œ CORONAVIRUS UPDATE\n\nDEATHS\n\nğŸ‡¨ğŸ‡³ China 26\...
5276    ğŸ¥ #MarketUpdate from @EBaker_TDAN\n\nâ–ªï¸ Chines...
5277    ğŸ“ŒCORONAVIRUS UPDATE\n\nDEATHS\n\nğŸ‡¨ğŸ‡³ China 106\...
5278    ğŸ‡¨ğŸ‡³@AmbCuiTiankai to ğŸ‡ºğŸ‡¸didn't deny #coronavirus...
5279    ğŸ‡¨ğŸ‡³ China hid Coronavirus spread by arresting b...
5280    ğŸ‡¨ğŸ‡³ #CHINA FEB. RETAIL PASSENGER CAR SALES -80%...
5281    ğŸš¨BREAKING: #China says a flu drug approved in ...
5282    â£ï¸Inner Child ranked 6th on Netease Cloud Musi...
5283    ğŸ‡¦ğŸ‡º/ğŸ‡¨ğŸ‡³A video came out a few days ago. Suspicio...
5284    ğŸ“°â€BTS's #Jungkook Chinese fans has donated mon...
5285    ğŸ†˜ğŸ†˜19 Coronavirus Patents, Going back to the 80...
5286    ğŸŒ¡#Health Coronavirus: countries evacuate citiz...
5287    ğŸ“Œ CORONAVIRUS UPDATE\n\nDEATHS\n\nğŸ‡¨ğŸ‡³ China 41\...
5288    ğğğ¥ğ¨ğ§ğ ğ–ğ¢ğ­ğ¡ğ‰ğ®ğ§ğ ğ°ğ¨ğ¨ğŸ’–\n\nğŸ¤ ğ—œğ—»ğ˜€ğ˜ğ—®ğ—´ğ—¿ğ—®ğ—º ğ—¦ğ˜ğ—¼ğ—¿ğ˜† ğ—”ğ—±ğ˜€ ğŸ¤\...
5289    âœ”He told us to protect our borders.\nâœ”He told ...
5290    ã€Taehyungâ€™s Data in Chinaã€‘\n\nğŸ“Todayâ€™s Aiman C...
5291    âš ï¸WARNING: Graphic content\n\n#Wuhan Insider S...
5292    ğŸ™„ Good try. Anyone "terrified" of climate chan...
5293    ğŸ¤” China is not telling the truth. \nDO NOT TUR...
5294    ğŸ›‘ New development from #China:\nChina's #trade...
5295    ğŸš¨BREAKING: in a highly unprecedented move, the...
5296    ğŸš¨BREAKING: first human transmission of #corona...
5297    ğŸš¨WOW: &gt;760 million people in #Chinaâ€”equalin...
5298    ğŸ¤”Could the #coronavirus turn back global warmi...
5299    ğŸš¨SOONğŸš¨\n\nSen. Rubio is joining @MariaBartirom...
5300    ğŸ¦  This weekâ€™s coronavirus update\n\nVIRUS STIL...
Name: text, Length: 5301, dtype: object

In [15]:
df.to_csv("./ids_text.csv")